body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1504851149312-7a075b496cc7?q=80&w=1905&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); */
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

h1,h2{
    color:white;
       text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.form-label{
    color: white;
}

.users{
    color: black;
}